* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* common : thanh phan dung chung*/
.btn {
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    transition: background 0.3s;
}
.btn:hover {
    opacity: 0.9;
    background: #000;
    font-weight: 600;
}
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
}
/* ====== tao dau 3 cham ====== */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*=========== header ===========*/
.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.navbar ul {
    display: flex;
    margin-left: 50px;
}
.navbar .actions {
    margin-left: auto;
}
.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    padding: 8px 14px;
    transition: transform 0.5s ease;
}
.navbar ul li:hover {
    transform: scale(1.2);
    color: #000;
    text-decoration: underline;
}
.navbar .actions-link {
    font-weight: 500;
    line-height: 21px;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}
.hero {
    margin-top: 130px;
}
.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
}
.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
}
.hero .info {
    width: 51%;
}
.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}
.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
/* ===========Client============ */
.cilient {
    margin-top: 122px;
}
.cilient .row {
    display: flex;
    justify-content: space-between;
}
.cilient .desc {
    color: #7d8589;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}
.row-desc {
    margin-top: 23px;
}
.cilient .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.cilient .images a {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 91px;
    border-radius: 12px;
    transition: 0.3s;
}
.cilient .images a:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
/* ===========duides=========== */
.guides {
    margin-top: 174px;
}
.guides .sub-title {
    position: relative;
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 1; /* 100% */
    text-align: center;
}
.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}
.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8; /* 187.5% */
    text-align: center;
}
.list-guides {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}
.guides-item {
    margin: 0 70px;
    text-align: center;
}
.guides-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}
.guides .link {
    display: flex;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
.guides-item .arrow {
    margin: 4px;
}
.guides-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.guides-cta .btn {
    min-width: 170px;
}
.featured {
    margin-top: 120px;
    padding: 110px 0;
    background: #f5fafe;
}
.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.featured .desc {
    color: #5a6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}
.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.featured .link {
    display: flex;
    align-items: center;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}
.featured .arrow {
    margin-left: 8px;
}
.featured .list {
    margin-top: 70px;
    gap: 30px;
    display: flex;
}
.featured .item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
}
.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.featured .item .body {
    padding: 17px 20px 24px;
}
.featured .item .title a {
    color: #000339;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}
.featured .item .desc {
    margin-top: 11px;
    /* margin-left: -20px; */
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    /* ======  nội dung xuống khi nhập không cách Or  link====== */
    word-break: break-all;
}
.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.featured .item .label {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}
.featured .item .icon {
    margin-left: 23px;
}
.featured .item .icon:first-child {
    margin-left: 0;
}
.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.star .content {
    width: 1017px;
}
.stats .row {
    display: flex;
}
.stats .img-block,
.stats .info {
    width: 50%;
}
.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}
.stats .info {
    padding: 79px 0 0 165px;
}
.stats .info .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
}
.stats .info .sub-title::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}
.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}
.stats .img-block {
    position: relative;
    width: 520px;
}
.stats-trend {
    width: 239px;
    padding: 45px 22px;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}
.stats-trend .value {
    color: #000339;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.026rem;
}
.stats-trend .row .icon {
    margin-left: auto;
}
.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.stats-trend .separate {
    margin-top: 25.5px;
    height: 4px;
    background: #e9e9e9;
}
.stats .avarta-group {
    display: flex;
}
.stats .avarta-group .avarta:first-child {
    margin-left: 0;
}
.stats .avarta-group .avarta {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
    text-align: center;
    line-height: 16px;
    background: var(--bg-color, #000);
    color: #fff;
    font-size: 0.72rem;
    font-weight: 450;
}
.stats .avarta-block {
    margin-top: 26px;
    gap: 16px 14px;
    display: flex;
    flex-wrap: wrap;
}
.stats .row-qty {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}
.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.stats .qty-desc {
    margin-top: 22px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}
/* ============Subcription=================== */
.subcription {
}
.subcription .body {
    margin-top: 90px;
    position: relative;
    display: flex;
    height: 370px;
    align-items: center;
    border-radius: 20px;
    background: #063183;
}
.subcription .sub-title {
    width: 502px;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}
.subcription .desc {
    width: 501px;
    max-width: 100%;
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}
.subcription .btn {
    margin-top: 20px;
    color: #002366;
    font-size: 1.3rem;
    font-weight: 500;
    width: 151px;
    hight: 50px;
    background: #fff;
}
.subcription .info {
    padding: 0 80px;
}
.subcription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}
/* ===============Footer=================== */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}
.footer .row-top {
    display: flex;
    gap: 185px;
    justify-content: space-between;
}
.footer .heading {
    color: #1c1c1d;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
.footer .list {
    margin-top: 42px;
}
.footer .item {
    margin-top: 18px;
}
.footer .item a {
    white-space: nowrap;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
}
.footer .column .desc {
    width: 257px;
    max-width: 100%;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8; /* 175% */
}
.row-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    margin-top: 63px;
}
.row-footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
.footer .social {
    display: flex;
    margin-top: 40px;
}
.footer .social .link {
    margin-right: 10px;
    display: flex;
    width: 28.5px;
    height: 28.5px;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 8px;
}
.footer .social .link:hover {
    background: #ccc;
}
